.appNavbar{
    border-bottom: 1px solid rgb(247, 247, 247);
    .container{
        padding: 0.8rem 0;
        justify-content: space-between;
        align-items: center;
        display: flex;
        a.leftText{
            display: block;
            font: 500 2rem/2.8rem Lexend, sans-serif;
            text-decoration: none;
            > span{
                color: green;
            }
        }
        a.rightButton{
            display: block;
            padding: 0.4rem;
            color: rgb(137, 137, 137);
            text-decoration: none;
            font: 400 1.8rem/2.4rem Lexend, sans-serif;
            > img{
                width: 3.2rem;
            }
        }
    }
}