.emptyCartMessageWrapper{
    padding-top: 18rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cartPage {
    > h2 {
        margin-top: 3.2rem;
        font: 500 2.4rem/3.2rem Lexend, sans-serif;
        text-align: center;
    }
    .contentWrap {
        margin-top: 6rem;
        display: flex;
        .listOfDetailedItems {
            flex: 1;
            .eachItem {
                display: flex;
                justify-content: space-between;
                margin: 0 0 1.6rem 0;
                > .leftsideOfFlex {
                    display: flex;
                    align-items: center;
                    > img {
                        width: 4rem;
                    }
                    > .priceStyle{
                        font: 500 1.8rem/2.8rem Lexend, sans-serif;

                    }

                }
                > .rightsideOfFlex {
                    display: flex;
                    align-items: center;
                    > div{
                        margin-right: 1.6rem;
                    }
                    > button{
                        margin-right: 0.6rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 3.6rem;
                        width: 3.2rem;
                        > img{
                            width: 2rem;
                        }
                        &:last-child{
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }
    > .orderSummaryWrap {
        margin-top: 4rem;
    }
}
