.deleteConfirmationModal.modal-dialog{
    margin-top: 10rem;
    .modal-content{
        padding: 2rem;
        border-radius: 0.6rem;
        > .modalHeader{
            font: 500 2rem/3rem Lexend, sans-serif;
        }
        > .buttons{
            margin-top: 2.4rem;
            > button{
                margin-right: 1rem;
            }
        }
    }
}