.ProductInList {
    width: 24.5rem;
    margin: 0.6rem;
    padding: 1.6rem;
    border: 1px solid rgba(0, 128, 0, 0.151);
    border-radius: 0.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    > img.productImage {
        width: 16rem;
    }
    > .productMake {
        margin-top: 1rem;
        font: 500 1.4rem/2rem "Lexend";
        color: rgba(40, 40, 40, 0.762);
    }
    > .productName {
        font: 400 1.6rem/2.1rem "Lexend";
    }
    > .overlay {
        background: linear-gradient(to bottom, rgb(120, 255, 255) 0%, darkcyan 100%);
        opacity: 0.3;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        display: none;
        z-index: 1;
        border-radius: 0.4rem;
    }
    > .addToCart {
        display: none;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        font: 400 1.6rem/2.1rem "Lexend";
        background-color: darkcyan;
        color: white;
        padding: 0.6rem 1rem;
        // border: 1px solid white;
        border: none;
        border-radius: 0.4rem;
        box-shadow: 1px 1px 4px rgb(79, 79, 79);
    }
    > .outOfStock{
        background: linear-gradient(to bottom, rgba(120, 255, 255, 0.3) 0%, rgba(0, 139, 139, 0.3) 100%);
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 3;
        > div{
            font: 400 1.6rem/2.1rem "Lexend";
            padding: 0.6rem 1rem;
            background: rgb(236, 102, 102);
            color: white;
            border-radius: 0.4rem;
        }
    }
    &:hover {
        > .overlay {
            display: block;
        }
        > .addToCart {
            display: block;
        }
    }
}
