.OrderSummary {
    margin-left: 4rem;
    width: 40rem;
    border: 1px solid grey;
    border-radius: 0.8rem;
    padding: 2rem;
    > h2 {
        font: 700 2rem/2.8rem Lexend, sans-serif;
        text-align: center;
        margin: 0.4rem 0 1.6rem;
    }
    > .field{
        font: 400 1.6rem/2.8rem Lexend, sans-serif;
        color: rgba(40, 40, 40, 0.762);
        display: flex;
        justify-content: space-between;
    }
    > .total{
        margin-top: 1rem;
        border-top: 1px solid rgb(202, 202, 202);
        padding-top: 1rem;
        font: 400 1.8rem/2.8rem Lexend, sans-serif;
        display: flex;
        justify-content: space-between;
    }
    > button{
        margin-top: 3.2rem;
        width: 100%;
        padding: 1rem 1.6rem;
        border: none;
        border-radius: 0.4rem;
        background: #1697fa;
        font: 700 1.6rem/2.4rem Lexend, sans-serif;
        color: white;
    }
}