// set rem
html {
  font-size: 10px;
  @media screen and (max-width: 1439px) {
    font-size: 9px;
  }
  @media screen and (max-width: 1279px) {
    font-size: 8px;
  }
}

body{
  font-size: 14px;
}

.Toastify{
  > .Toastify__toast-container{
    top: 6rem;
  }
}