.productsPage{
    > h2{
        margin-top: 3.2rem;
        font: 500 2.4rem/3.2rem Lexend, sans-serif;
        text-align: center;
    }
    > .productsWrap{
        margin-top: 4rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}